@charset "UTF-8";

/*disableselection declaration*/
.disableSelection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

* {
    scroll-behavior: smooth;
    scroll-snap-type: proximity;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/*font import*/
@font-face {
    font-family: Rajdhani;
    src: url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-007F;
    unicode-bidi: bidi-override;
}

@font-face {
    font-family: Rajdhani;
    src: url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500&display=swap');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+0000-007F;
    unicode-bidi: bidi-override;
}

@font-face {
    font-family: Saira;
    src: url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+0000-007F;
    unicode-bidi: bidi-override;
}

@font-face {
    font-family: Saira;
    src: url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-007F;
    unicode-bidi: bidi-override;
}

@font-face {
    font-family: Saira;
    src: url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+0000-007F;
    unicode-bidi: bidi-override;
}

@font-face {
    font-family: Athiti;
    src: url('https://fonts.googleapis.com/css2?family=Athiti:wght@300;400;500;600&display=swap');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+0E00-0E7F;
    unicode-bidi: bidi-override;
}

@font-face {
    font-family: Athiti;
    src: url('https://fonts.googleapis.com/css2?family=Athiti:wght@300;400;500;600&display=swap');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0E00-0E7F;
    unicode-bidi: bidi-override;
}

@font-face {
    font-family: Athiti;
    src: url('https://fonts.googleapis.com/css2?family=Athiti:wght@300;400;500;600&display=swap');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+0E00-0E7F;
    unicode-bidi: bidi-override;
}

@font-face {
    font-family: Athiti;
    src: url('https://fonts.googleapis.com/css2?family=Athiti:wght@300;400;500;600&display=swap');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+0E00-0E7F;
    unicode-bidi: bidi-override;
}

.rajdhani-400 {
    font-family: Rajdhani, sans-serif;
    font-weight: 400;
}

.rajdhani-500 {
    font-family: Rajdhani, sans-serif;
    font-weight: 500;
}

.saira-300 {
    font-family: Saira, sans-serif;
    font-weight: 300;
}

.saira-400 {
    font-family: Saira, sans-serif;
    font-weight: 400;
}

.saira-500 {
    font-family: Saira, sans-serif;
    font-weight: 500;
}

.athiti-300 {
    font-family: Athiti, sans-serif;
    font-weight: 300;
}

.athiti-400 {
    font-family: Athiti, sans-serif;
    font-weight: 400;
}

.athiti-500 {
    font-family: Athiti, sans-serif;
    font-weight: 500;
}

.athiti-600 {
    font-family: Athiti, sans-serif;
    font-weight: 600;
}

html:lang(TH) {
    font-family: Athiti, sans-serif;
}

html:lang(EN) {
    font-family: Rajdhani, sans-serif;
}

/*style components*/
.container-main {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1670px;
    margin: 0 auto;
    size: cover;
}

.pdt1 {
    padding-top: 100px;
}

@media screen and (min-width: 640px) {
    .container {
        padding-left: 2.67%;
        padding-right: 2.67%;
    }
}

@media screen and (min-width:375px) {
    .container {
        padding-left: 34px;
        padding-right: 34px;
    }
}

.container .innerContainer {
    position: relative;
    width: 100%;
}

.container .grid {
    position: relative;
    display: --webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -8px;
}

@media screen and (min-width: 1025px) {
    .container .grid {
        margin: 0 -1.00629%;
    }
}

.container .col-1 {
    width: 7.14286%;
    padding: 0 8px;
}

@media screen and (min-width: 1025px) {
    .container .col-1 {
        padding: 0 1.00629%;
    }
}

.container .col-2 {
    width: 14.28571%;
    padding: 0 8px;
}

@media screen and (min-width: 1025px) {
    .container .col-2 {
        padding: 0 1.00629%;
    }
}

.container .col-3 {
    width: 21.42857%;
    padding: 0 8px;
}

@media screen and (min-width: 1025px) {
    .container .col-3 {
        padding: 0 1.00629%;
    }
}

.container .col-4 {
    width: 28.57143%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-4 {
        padding: 0 1.00629%
    }
}

.container .col-5 {
    width: 35.71429%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-5 {
        padding: 0 1.00629%
    }
}

.container .col-6 {
    width: 42.85714%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-6 {
        padding: 0 1.00629%
    }
}

.container .col-7 {
    width: 50%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-7 {
        padding: 0 1.00629%
    }
}

.container .col-8 {
    width: 57.14286%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-8 {
        padding: 0 1.00629%
    }
}

.container .col-9 {
    width: 64.28571%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-9 {
        padding: 0 1.00629%
    }
}

.container .col-10 {
    width: 71.42857%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-10 {
        padding: 0 1.00629%
    }
}

.container .col-11 {
    width: 78.57143%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-11 {
        padding: 0 1.00629%
    }
}

.container .col-12 {
    width: 85.71429%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-12 {
        padding: 0 1.00629%
    }
}

.container .col-13 {
    width: 92.85714%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-13 {
        padding: 0 1.00629%
    }
}

.container .col-14 {
    width: 100%;
    padding: 0 8px
}

@media screen and (min-width:1025px) {
    .container .col-14 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-1 {
        width: 7.14286%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-1 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-2 {
        width: 14.28571%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-2 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-3 {
        width: 21.42857%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-3 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-4 {
        width: 28.57143%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-4 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-5 {
        width: 35.71429%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-5 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-6 {
        width: 42.85714%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-6 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-7 {
        width: 50%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-7 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-8 {
        width: 57.14286%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-8 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-9 {
        width: 64.28571%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-9 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-10 {
        width: 71.42857%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-10 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-11 {
        width: 78.57143%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-11 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-12 {
        width: 85.71429%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-12 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-13 {
        width: 92.85714%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-13 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:640px) {
    .container .col-sm-14 {
        width: 100%;
        padding: 0 8px
    }
}

@media screen and (min-width:640px) and (min-width:1025px) {
    .container .col-sm-14 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-1 {
        width: 7.14286%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-1 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-2 {
        width: 14.28571%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-2 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-3 {
        width: 21.42857%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-3 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-4 {
        width: 28.57143%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-4 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-5 {
        width: 35.71429%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-5 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-6 {
        width: 42.85714%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-6 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-7 {
        width: 50%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-7 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-8 {
        width: 57.14286%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-8 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-9 {
        width: 64.28571%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-9 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-10 {
        width: 71.42857%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-10 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-11 {
        width: 78.57143%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-11 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-12 {
        width: 85.71429%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-12 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-13 {
        width: 92.85714%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-13 {
        padding: 0 1.00629%
    }
}

@media screen and (min-width:1025px) {
    .container .col-md-14 {
        width: 100%;
        padding: 0 8px
    }
}

@media screen and (min-width:1025px) and (min-width:1025px) {
    .container .col-md-14 {
        padding: 0 1.00629%
    }
}

.container .offset-0 {
    margin-left: 0
}

.container .offset-1 {
    margin-left: 7.14286%
}

.container .offset-2 {
    margin-left: 14.28571%
}

.container .offset-3 {
    margin-left: 21.42857%
}

.container .offset-4 {
    margin-left: 28.57143%
}

.container .offset-5 {
    margin-left: 35.71429%
}

.container .offset-6 {
    margin-left: 42.85714%
}

.container .offset-7 {
    margin-left: 50%
}

.container .offset-8 {
    margin-left: 57.14286%
}

.container .offset-9 {
    margin-left: 64.28571%
}

.container .offset-10 {
    margin-left: 71.42857%
}

.container .offset-11 {
    margin-left: 78.57143%
}

.container .offset-12 {
    margin-left: 85.71429%
}

.container .offset-13 {
    margin-left: 92.85714%
}

@media screen and (min-width:640px) {
    .container .offset-sm-0 {
        margin-left: 0
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-1 {
        margin-left: 7.14286%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-2 {
        margin-left: 14.28571%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-3 {
        margin-left: 21.42857%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-4 {
        margin-left: 28.57143%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-5 {
        margin-left: 35.71429%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-6 {
        margin-left: 42.85714%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-7 {
        margin-left: 50%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-8 {
        margin-left: 57.14286%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-9 {
        margin-left: 64.28571%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-10 {
        margin-left: 71.42857%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-11 {
        margin-left: 78.57143%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-12 {
        margin-left: 85.71429%
    }
}

@media screen and (min-width:640px) {
    .container .offset-sm-13 {
        margin-left: 92.85714%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-0 {
        margin-left: 03 3, 00
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-1 {
        margin-left: 7.14286%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-2 {
        margin-left: 14.28571%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-3 {
        margin-left: 21.42857%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-4 {
        margin-left: 28.57143%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-5 {
        margin-left: 35.71429%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-6 {
        margin-left: 42.85714%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-7 {
        margin-left: 50%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-8 {
        margin-left: 57.14286%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-9 {
        margin-left: 64.28571%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-10 {
        margin-left: 71.42857%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-11 {
        margin-left: 78.57143%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-12 {
        margin-left: 85.71429%
    }
}

@media screen and (min-width:1025px) {
    .container .offset-md-13 {
        margin-left: 92.85714%
    }
}

/*button style components*/
/*1*/
.buttonStyle1 {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    outline: 2px solid #FFFFFF;
    -moz-outline-radius: 12px 12px 12px 12px;
    padding: 30px 60px;
    position: relative;
    overflow: hidden;
    transition: color 1s;
}

.buttonStyle1:hover {
    color: currentColor;
}

.buttonStyle1::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 1s;
}

.buttonStyle1:hover::before {
    width: 150%;
}

/*2*/

.buttonStyle2 {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background-color: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
}

.buttonStyle2:hover {
    box-shadow: -6px -6px 12px #c5c5c5, 6px 6px 12px #fff;
}

.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1%;
}

/*ShareBtnInteraction*/
.wrapper {
    position: relative;
}

.wrapper :is(.btn, .link) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #151515;
    border-radius: 50%;
}

.btn {
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: outline .25s;
}

.active .btn,
.btn:hover {
    outline: 5px solid #bb93fc;
    outline-offset: -4px;
}

.item {
    position: absolute;
    list-style: none;
    transition: transform .5s;
    transition-delay: var(--d);
}

.wrapper .active .item:nth-child(1) {
    transform: translateX(-65px);
}

.wrapper .active .item:nth-child(2) {
    transform: translateY(-65px);
}

.wrapper .active .item:nth-child(3) {
    transform: translateX(65px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contaner .flex {
    display: flex;
    flex-wrap: nowrap;
}

.bg-dark1 {
    background-color: #002526;
}

.bg-dark2 {
    background-color: #252526;
}

.bg-transparent {
    background: url('./../../assets/grad1.png');
}

.text-dark {
    color: #000000 !important;
}

.text-light {
    color: #FFFFFF !important;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

nav * {
    box-sizing: inline-block;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: #f6f6f6;
    transition: 0.3s;
}

nav a:hover {
    color: #005dc7;
}

nav .menu {
    padding: 0;
    margin: 0;
}

nav .menu li {
    display: inline;
    margin: 0 0.7em;
}



nav .nav-btn::before {
    font-family: 'FontAwesome';
    content: '\f0c9\ ';
    position: relative;
    top: 0;
    left: 0;
    background: #373737;
    color: #fff;
    width: 100%;
    height: 100%;
    font-size: 2.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

nav .nav-btn {
    width: 1em;
    height: 1em;
    display: none;
    position: relative;
    cursor: pointer;
}

nav .nav-btn:hover:before {
    color: #005dc7;
}

@media screen and (max-width: 900px) {
    nav .nav-btn:checked+.menu {
        height: 12em;
        overflow-y: scroll;
    }
    nav .menu {
        position: absolute;
        top: 4.7em;
        left: 0;
        width: 100%;
        background: #1f1f1f;
        padding: 0 1.5em;
        overflow-y: hidden;
        transition: 0.7s;
        height: 0;
    }

    nav .menu li {
        display: block;
        margin: 1em 0;
    }

    nav .meny li:nth-child(1) {
        margin-top: 1.5em;
    }

    nav .nav-btn {
        display: block;
    }

    .menu::-webkit-scrollbar {
        width: 10px;
        background: #000;
    }

    .menu::-webkit-scrollbar-thumb {
        background: #005dc7;
        border-radius: 10px;
    }
}

.borderradius10-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media screen and (max-width: 900px) {
    .borderradius10-bottom {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
    }
}

p .main-p {
    font-size: medium;
}

.fs16 {
    font-size: 16pt;
}

.fs2em {
    font-size: 2em;
}

#tdulr {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: red;
    background-color: #FFF;
    border-radius: 14px;

}

.brgapmargin {
    margin: 12px;
}

main > div {
    text-align: center;
}

.faviconradius {
    border-radius: 2px;
}

.textbordergap {
    margin-left: 5%;
}

.textbordergap2 {
    margin-left: 10%;
}

.textbordergap-medium {
    margin-left: 7.5%;
}

.textbordergap-center {
    text-align: center;
}

.textbordergap-center2 {
    text-align: center;
}

/* ===== Boxicons CSS ===== */
@import url("https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css");

.footer * {
    box-sizing: border-box;
}

.footer {
    padding: 70px 0 0;
    background-color: rgb(30, 30, 30);
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
}

.footer .cont {
    max-width: 1170px;
    margin: auto;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: rgb(255, 255, 255, 1);
}

.footer .row>div:nth-child(1) {
    width: 35%;
}

.footer .row>div {
    width: 20%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}

.footer .row p {
    margin: 20px 0;
    color: rgb(255, 255, 255, .8);
    font-size: .9em;
    line-height: 1.8em;
}

.footer .row h4 {
    background-color: rgb(118, 109, 244, .2);
    color: rgb(118, 109, 244, 1);
    width: fit-content;
    border-radius: 7px;
    padding: 5px 10px;
    font-weight: 600;
}

.footer .row ul,
.footer .row li {
    list-style-type: none;
    padding-left: 0;
    margin: 15px 0;
    transition: .3s;
    overflow: hidden;
}

.footer .row li {
    transform: translateX(-15px);
}

.footer .row li::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid rgb(118, 109, 244);
    border-bottom: 5px solid transparent;
}

.footer .row li:hover {
    transform: translateX(0);
}

.footer .row ul a {
    text-decoration: none;
    color: rgb(255, 255, 255, .8);
    margin-left: 15px;
}

.footer .row .socialButton {
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    width: fit-content;
    margin-top: 30px;
}

.footer .row .socialButton i {
    font-size: 28px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .3s;
    opacity: .6;
    transform: translateY(0);
}

.footer .row .socialButton i:hover {
    opacity: 1;
    transform: translateY(-4px);
}

.footer .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 80px;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255, .7);
    font-size: .8em;
}

/* Responsive */
@media only screen and (max-width: 1170px) {

    .footer .row>div {
        width: 50% !important;
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 574px) {

    .footer .row>div {
        width: 100% !important;
    }

}

.h2 {
    display: inline-block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

svg path {
    fill: white;
}

.borderradiuslogo {
    border-radius: 25%;
    margin-top: 10%;
}

.float-left {
    display: space-between;
    text-align: left;
    float: left;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.float-right {
    display: space-between;
    text-align: right;
    float: right;
    justify-content: flex-end;
    flex-wrap: wrap;
}

footer a {
    text-decoration: underline;
    text-decoration-color: rgba(255, 0, 0, 1);
    color: rgb(255, 255, 255);
}

.loading {
    border: 4px solid #232425;
    border-radius: 50em;
    border-top: 4px solid rgb(0, 0, 0, 0);
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#aligncenter {
    width: 25%;
    height: 15%;
}

@media screen and (max-width: 977px) {
    #aligncenter {
        width: 35%;
        height: 25%;
    }
}

.position {
    position: absolute;
    left: 0;
    right: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #505152;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #252627;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #303132;
}

.button {
    color: #e8e8e8;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #232425;
    border: 1px solid #232425;
    transition: all .3s;
    box-shadow: 6px 6px 12px #505152, -6px -6px 12px #373737;
}

.button:hover {
    box-shadow: -6px -6px 12px #505152, 6px 6px 12px #373737;
}

.invisibleonviewportdesktop {
    visibility: hidden;
}

@media screen and (max-width: 900px) {
    .invisibleonviewportdesktop {
        visibility: visible;
    }
}

.connectwalletlibackground {
    background: #e8e8e8;
}

hr {
    border: 0;
    border-top: 2px solid brown;
    rotate: 90deg;
}

section {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin: 0;
    background-color: transparent;
}

.divider {
    position: relative;
    height: 1px;
}

.divider:before {
    left: 0;
    right: 0;
    content: "";
    position: absolute;
    margin: auto;
    width: 50%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.divider:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -7px;
    left: calc(50% - 7px);
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    background-color: darkslategray;
    border-bottom: 1px solid rgb(48, 49, 51);
    border-right: 1px solid rgb(48, 49, 51);
}

.copyIPContainer {
    cursor: default;
    width: 50%;
    height: 4em;
    border: 1px solid rgb(235, 235, 235);
    margin: 50px auto;
    padding: 0 10px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0px 0px 30px -13px rgb(87, 87, 87);
}

.contentSwapSec {
    padding-top: 20px;
    height: auto;
    position: relative;
}

.contentMainContainer {
    width: 80%;
    height: auto;
    margin: auto;
    gap: 5%;
}

.contentCard {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    background:rgb(30, 30, 30);
    border-radius: 20px;
    color:rgb(235, 235, 235);
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
    .contentCard {
        flex-wrap: wrap;
    }
}

.miniGameProfile {
    height: auto;
    width: auto;
    border-radius: 10px;
}

.miniGameCard .miniGameContent {
    padding: 30px;
}

.contentCard p {
    text-align: left;
    font-size: 16px;
}

#txtField {
    width: 75%;
    font-weight: 600;
    border: none;
    font-size: 1.3em;
    border-right: none;
    text-align: center;
    outline: none;
    color: #66645f;
}

#txtField::selection {
    color: none;
    background: none;
}

.copyIPContainer .fa-link {
    color: #b4afa6;
    width: 10%;
}

.verticalDevider {
    width: 1px;
    height: 50%;
    background-color: #b4afa67a;
}

.copyIPContainer button {
    cursor: pointer;
    border-radius: 10px;
    width: 15%;
    height: 85%;
    font-size: 1.3em;
    background-color: #ffa600ef;
    color: #ffffff;
    border: none;
    position: relative;
}

.copyIPContainer button i {
    height: 1em;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.joinSec {
    perspective: 1px;
    background: none;
    height: 500px;
    padding-top: 70px;
}

.fa-check {
    transform: scale(0);
}

.copied {
    animation: copy 0.3s linear forwards;
}

.copied .fa-clone {
    animation: copyIcon 0.3s linear forwards;
}

.copied .fa-check {
    animation: checkIcon 0.3s 0.3s linear forwards;
}

@keyframes copy {
    33.33% {
        transform: scale(0.8);
    }

    66.67% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        background-color: #00ff40ef;
    }
}

@keyframes copyIcon {
    33.33% {
        transform: scale(1);
    }

    66.67% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes checkIcon {
    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.adjustScreenCenter {
    text-align: center;
    align: center;
    justify-content: center;
    justify-self: center;
}

.disableOverflow {
    overflow-clip-margin: 10px;
}

.details-demo {
    border: 5px solid;
    border-radius: 10px;
    background: #242526;
    color: #e8e8e8;
    margin: 20px;
}

details {
    padding-left: 0%;
    padding-right: 0%;
}

.youtube-video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.youtube-video-container::after {
    display: block;
    content: "";
    padding-top: 56.25%;
}

.youtube-video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.marginbottom {
    margin-bottom: 30px;
}

/*Logo nav & AVALON (Begin)*/
.cYZgnB {
    transition: all 300ms ease-in-out 0s;
    cursor: pointer;
    user-select: none;
    outline: transparent solid 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.35;
    text-decoration: none;
    color: #fff;



}

.igpwCC {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.igpwCC> :not(style)~ :not(style) {
    margin-top: 0px;
    margin-inline: 12px 0px;
    margin-bottom: 0px;
}

.dNDhAf {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.dNDhAf> :not(style)~ :not(style) {
    margin-top: 0px;
    margin-inline: 0px;
    margin-bottom: 0px;
}

.jRbhgV {
    font-size: 8px;
    text-transform: uppercase;
}

.hwXnuX {
    flex: 1 1 0%;
}

.iVztUw {
    width: 100%;
    height: inherit;
}

.eTAxVC {
    height: auto;
}

.brand {
    transition: all 300ms ease-in-out;
    outline: transparent solid 0px;
}

.gAVGXQ {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.gAVGXQ> :not(style)~ :not(style) {
    margin-top: 0px;
    margin-inline: 15px 0px;
    margin-bottom: 0px;
}

.iSudEo {
    width: 1px;
    height: 24px;
    background: #505152;
    opacity: 0.24;
}

.gsGBOE {
    letter-spacing: 0.4em;
    text-shadow: #303132 0px -2px 6px;
}

.hOANhu {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.jpauqH {
    font-size: 15px;
}

.cYZgnB:hover {
    color: rgb(255, 255, 255);
}

.cxmukG {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.hWkcpl {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.cxmukG> :not(style)~ :not(style) {
    margin-top: 0px;
    margin-inline: 16px 0px;
    margin-bottom: 0px;
}

.fzPAVU {
    position: relative;
}

.jftAIW {
    width: 32px;
}

.hWkcpl> :not(style)~ :not(style) {
    margin-top: 0px;
    margin-inline: 8px 0px;
    margin-bottom: 0px;
}

.bIzHRG {
    transition: all 300ms ease-in-out 0s;
    position: relative;
    cursor: pointer;
    outline: transparent solid 0px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    user-select: none;
    border-radius: 5px;
    border: 1px solid transparent;
    background-image: linear-gradient(rgb(60, 60, 60) 0.06%,
            rgba(60, 60, 60) 95.37%),
        linear-gradient(270deg,
            rgb(137, 137, 137) 0%,
            rgb(189, 190, 190) 17.19%,
            rgb(242, 243, 243) 34.38%,
            rgb(170, 171, 170) 50%,
            rgb(159, 159, 157) 67.19%,
            rgb(141, 140, 140) 83.33%,
            rgb(114, 112, 110) 100%);
    animation-name: jgqpio;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-sizing: border-box;
    text-shadow: rgb(105 91 91 / 24%) 0px 2px 0px;
}

.cfQlzR {
    padding: 12px 8px;
}

button {
    overflow: visible;
}

.bIzHRG:before {
    content: "";
    position: absolute;
    inset: 0px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-origin: border-box;
    -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px,
            rgb(255, 255, 255) 0px) padding-box padding-box, linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255));
    -webkit-mask-composite: source-out;
    background-image: linear-gradient(rgb(31, 31, 31), rgb(84, 84, 84));

}

.kAikta {
    width: 100%;
}

.PHzlS {
    margin-top: -2px;
}

/*Button Color Palete*/

@keyframes jgqpio {
    0% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(335deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    10% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(328.5deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    20% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(335deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    30% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(315.5deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    40% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(309deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    50% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(302.5deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    60% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(296deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    70% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(289.5deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    80% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(283deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    90% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(335deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    100% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(270deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

}

@keyframes jgVGEb {
    0% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(335deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    10% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(322deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    20% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(309deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    30% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(296deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    40% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(283deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    50% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(270deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    60% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(257deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    70% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(244deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    80% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(231deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    90% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(218deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    100% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(205deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

}

@keyframes gBztuE {
    0% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(270deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    10% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(276.5deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    20% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(283deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    30% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(289.5deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    40% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(296deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    50% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(302.5deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    60% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(309deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    70% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(315.5deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    80% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(322deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    90% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(328.5deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

    100% {
        background-image: linear-gradient(rgb(84, 84, 84) 0.06%,
                rgba(31, 31, 31) 95.37%),
            linear-gradient(335deg,
                rgb(137, 137, 137) 0%,
                rgb(189, 190, 190) 17.19%,
                rgb(242, 243, 243) 34.38%,
                rgb(170, 171, 170) 50%,
                rgb(159, 159, 157) 67.19%,
                rgb(141, 140, 140) 83.33%,
                rgb(114, 112, 110) 100%);
    }

}

/*Button Color Palete End*/

.bIzHRG:focus-visible {
    outline-width: 3px;
    outline-color: rgb(21 21 22 / 25%);
}

.bIzHRG:active {
    animation-name: jgVGEb;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.bIzHRG:hover {
    animation-name: gBztuE;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.bGdLkN> :not(style)~ :not(style) {
    margin-top: 0px;
    margin-inline: 0px;
    margin-bottom: 0px;
}

.ednPfV {
    position: positive;
}

.DGFJK {
    transition: all 300ms ease-in-out 0s;
    cursor: pointer;
    user-select: none;
    outline: transparent solid 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.35;
    text-decoration: none;
    color: #fff;

}

.DGFJK svg {
    transition: all 300ms ease-in-out 0s;
}

.hejSgI {
    padding-left: 8px;
    padding-right: 8px;
    height: 72px;
}

/* Logo nav & AVALON (end)*/

/*button2077 begin*/
@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

:root {
    --yellow-color: #fcee09;
    --red-color: #ff003c;
    --black-color: #050a0e;
    --blue-color: #00f0ff;
    --white-color: #fafafa;
}

.btn {
    background: #252627;
    color: #FFF;
    padding: 0.5% 2%;
    border: 1px #DFDFDF solid;
    border-radius: 2vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: light;
    text-decoration: none;
    transition: all .3s;
    box-shadow: 6px 6px 12px #505152, -6px -6px 12px #373737;
}

.btn:hover {
    border: 1px #252627 dashed;
    background: #FFF;
    color: #252627;
}
/*button2077 ends*/

.cardCollect {
    position: relative;
    height: 100vh;
    min-height: 950px;
} 

.cardCollect {
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 25px;
    padding-right: 16px;

} 

/*SideBar Start*/
.sidebar {
    position: absolute;
    margin-top: 20px;
    /* left: 0; */
    height: 130vh;
    width: 260px;
    background: #11101d;
}



.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height:  50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}



.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}


.sidebar .nav-links {
    height: 100vh;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar .nav-links li a {
    display:flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.sidebar .nav-links li .sub-menu  {
    padding: 6px 6px 20px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none; 
}

.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 25px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;

}

.sidebar .nav-links li .sub-menu a {
    color:#fff;
    font-size: 15px;
    padding:  5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}


.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}


.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu .blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
} 

.sidebar .nav-links li .sub-menu .blank {
    top: 50%;
    transform: translateY(-50%);
}

/*SideBar End*/